[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hbsaems"]
	path = hbsaems
	url = https://github.com/madsyair/hbsaems
[submodule "neodistr"]
	path = neodistr
	url = https://github.com/madsyair/neodistr
[submodule "neojags"]
	path = neojags
	url = https://github.com/madsyair/neojags
